#
# Copyright (C) 2025 The OrangeFox Project
#
# SPDX-License-Identifier: Apache-2.0
#

# Init for OrangeFox Recovery - OnePlus 12R (aston)

on early-init
    write /proc/sys/kernel/firmware_config/force_sysfs_fallback 1

on init
    write /sys/class/backlight/panel0-backlight/brightness 200
    setprop sys.usb.configfs 1

    # Load kernel modules for UFS storage
    insmod /vendor/lib/modules/phy-qcom-ufs.ko
    insmod /vendor/lib/modules/phy-qcom-ufs-qmp-v4-kalama.ko
    insmod /vendor/lib/modules/ufshcd-crypto-qti.ko
    insmod /vendor/lib/modules/ufs_qcom.ko

on property:ro.boot.usbcontroller=*
    setprop sys.usb.controller ${ro.boot.usbcontroller}
    wait /sys/bus/platform/devices/${ro.boot.usb.dwc3_msm:-a600000.ssusb}/mode
    write /sys/bus/platform/devices/${ro.boot.usb.dwc3_msm:-a600000.ssusb}/mode peripheral
    wait /sys/class/udc/${ro.boot.usbcontroller} 1

on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice

    # Load ADSP firmware for PMIC
    mkdir /firmware
    mount vfat /dev/block/bootdevice/by-name/modem${ro.boot.slot_suffix} /firmware ro context=u:object_r:firmware_file:s0

on property:dev.mnt.blk.firmware=*
    write /sys/kernel/boot_adsp/boot 1

on property:init.svc.fastbootd=running
    umount /firmware
